@model IList<WestCoastEdu.web.Models.Course>
@{
    ViewData["Title"] = "Courses";
}
<h1 class="CourseText">Available Courses</h1>
<div class="CoursesContainer">
    @foreach (var course in Model)
        {
            //<div>
            //    <a asp-action="#" asp-route-CourseId=@course.CourseId>@course.//CourseTitle - @course.CourseName -
            //        @course.CourseDescription</a>
            //</div>
            <div class="CourseCard">
                <div class="CourseCardHeader">
                    <p class="CourseCardTitle">@course.CourseTitle</p>
                    <p class="CourseCardName">@course.CourseName</p>
                </div>
                <p class="CourseCardDescription">@course.CourseDescription</p>
                <div class="CourseCardDates">
                    <p class="CourseCardDate">Start: @course.StartDate</p>
                    <p class="CourseCardDate">End: @course.EndDate</p>
                </div>
            </div>
        }
</div>
<a class="LinkBtn" asp-action="Index" asp-controller="Home">Home</a>