<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - West Coast Education</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WestCoastEdu.web.styles.css" asp-append-version="true" />
</head>
<body>
    <nav class="NavContainer">
        <div class="NavTag">
            <p class="NavTagName">West Coast</p>
            <p class="NavTagSubName">Education</p>
        </div>
        <div class="CurrentNav">
            <p class="NavTagName">@ViewData["Title"]</p>
        </div>
        <div class="NavMenu">
            <p class="NavMenuItem">@Html.ActionLink("Home", "Index", "Home")</p>
            <p class="NavMenuItem">@Html.ActionLink("Courses", "Index", "Courses")</p>
            <p class="NavMenuItem">@Html.ActionLink("Admin", "Index", "Admin")</p>
            <p class="NavMenuItem">@Html.ActionLink("Error", "Error", "Admin")</p>
        </div>
    </nav>

    <div class="MainContainer">
        <main class="MainContent">
            @RenderBody()
        </main>
    </div>

    <footer class="FooterContainer">
        <div class="FooterContent">
            <p class="FooterContentItem">WestCoast</p>
            <p class="FooterContentItem">Address</p>
            <p class="FooterContentItem">Max Planstedt</p>
        </div>
    </footer>
</body>
</html>